<h1>Edit Article</h1>

<% form_for :article, @article, :url => article_url(@page), :html => { :method => :put, :multipart => true } do |form| %>
  <%= render :partial => 'form', :locals => { :form => form }%>
<% end %>
